.column {
    float: left;
    width: 35%;
    padding: 20px;
    margin: 10px;
    background-color: aqua;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row{
    border: 1px solid black;
    width: 400px;
}

img{
   width: 150px;
    height: 200px;
}