<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=DESKTOP-8NSEMC9\SQLEXPRESS;Initial Catalog=Agentie_imobiliara;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!-- Firma_de_imobiliare si Agenti_imobiliari -->
  
  <appSettings>
    <add key="ParentTableName" value="Firma_de_imobiliare"/>
    <add key="ChildTableName" value="Agenti_imobiliari"/>
    <add key="ChildNumberOfColumns" value="3"/>
    <add key="ChildColumnNames" value="Id_agent,Nume,Prenume"/>
    <add key="ColumnNamesInsertParameters" value ="@id,@nume,@prenume,@numeFirma"/>
    <add key="FkeyToParent" value="Nume_firma"/>
    <add key="ValueFKToParent" value="@numeFirma"/>
  </appSettings>
  
  
  <!-- Orase si Zone -->
  <!--
  <appSettings>
    <add key="ParentTableName" value="Orase"/>
    <add key="ChildTableName" value="Zone"/>
    <add key="ChildNumberOfColumns" value="3"/>
    <add key="ChildColumnNames" value="Id_zona,Descriere,Pret"/>
    <add key="ColumnNamesInsertParameters" value="@id,@descriere,@pret,@idOras"/>
    <add key="FkeyToParent" value="Id_oras"/>
    <add key="ValueFKToParent" value="@idOras"/>
  </appSettings>
  -->

</configuration>